<h1>Create your Account </h1>

<%= form_for(@user) do |f| %>
  <%= f.text_field :email, :placeholder => "Enter your email" %>
  <%= f.text_field :username, :placeholder => "Create your username" %>
  <%= f.password_field :password, :placeholder => "Create your password" %>
  <%= f.submit %>
  <% end %>
